* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    background-color: #242222;
    color: white;
    text-align: center;
    padding-block: 1.6rem;
    height: 100%;
    width: 100%;
}

header h1 {
    font-size: 3.6rem;
}

main {
    background-color: beige;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

html, button, input {
    font-family: "Roboto", sans-serif;
}

main #formsAluno {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -8rem;
}

main #formsAluno label {
    font-size: 2.4rem;
    font-weight: 800;
}

main #formsAluno input {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: 0.2rem solid #ff9100;
}

input #inputDataNascimento {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="date"] {
    width: 100%;
    box-sizing: border-box;
}

main #formsAluno button {
    padding: 1.2rem;
    border-radius: 0.8rem;
    background-color: #ff9100;
    font-size: 1.6rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
}

main #listAlunos {
    border: 0.2rem solid #ff9100;
    border-radius: 0.5rem;
    padding: 2rem;
    max-height: 70rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

main #listAlunos .alunoSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #000;
    padding-bottom: 2rem;
    margin-top: 2rem;
}

main #listAlunos .alunoSection:last-child {
    border-bottom: none;
    padding-bottom: 0rem;
}

main #listAlunos .alunoSection h2 {
    font-size: 3rem;
    text-align: center;
   
}

main #listAlunos .alunoSection p {
    font-size: 2rem;
}

.alunoSection button {
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.alunoSection button.edit {
    background-color: #73bb00;
}

.alunoSection button.remove {
    background-color: #ff5e00;
}

#listAlunos::-webkit-scrollbar-thumb:hover {
    background-color: #ff5e00;
}

#listAlunos {
    scrollbar-width: auto;
    scrollbar-color: #ff9100 #f1f1f1;
}

.pop-out {
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 1.5rem;
    background-color: #ff5e00;
    color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    font-size: 2.4rem;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background-color: black;
    width: 100%;
    transform-origin: left;
    animation: progress 3s linear forwards;
}

#popoutListAlunos {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000091;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#listAlunos {
    position: relative; /* Torna o #buttonClose posicionado em relação ao #listAlunos */
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 80%;
}

#buttonClose {
    position: absolute;
    top: 5px;
    right: 5px; /* Move o botão para a esquerda */
}

#close {
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: #333;
}

#viewList {
    display: none;
}

@keyframes progress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.pop-out.show {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

@media (max-width: 950px) {
    main {
        flex-direction: column;
    }

    main #formsAluno {
        margin-top: -15rem;
    }

    main #formsAluno label {
        font-size: 1.6rem;
        font-weight: 800;
    }

    #listAlunos {
        border: 0.2rem solid #ff9100;
        border-radius: 0.5rem;
        padding: 2rem;
        max-height: 30rem;
        overflow-y: auto;
        display: none;
        margin-bottom: 4rem;
    }
    
    main #listAlunos .alunoSection h2 {
        font-size: 2.4rem;
    }
    
    main #listAlunos .alunoSection p {
        font-size: 1.6rem;
    }
    
    .alunoSection button {
        padding: 0.4rem;
        border-radius: 0.5rem;
        border: 0.2rem solid black;
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
    }

    #popoutListAlunos {
        margin-top: -8rem;
    } 

}